.errorMessage {
  background-color: #F9E4E8;
  color: #E04562;
  font-size: 12px;
  font-weight: 400;
  padding: 2px 10px;
  border-radius: 2px;
  line-height: 2em;
  width: 100%;
  display: block;
}
