* {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: $backgroundColor;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 58px;
  line-height: 100%;
  color: $fontColor;
  font-weight: 400;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: 100%;
  color: $fontColor;
  font-weight: 400;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 34px;
  line-height: 100%;
  color: $fontColor;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 160%;
  color: $pColor;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

button {
  border: unset;
  cursor: pointer;
}

input {
  background-color: unset;
  border: unset;
}

.link {
  padding: 0 30px;
  font-size: 9px;
  line-height: 100%;
  letter-spacing: 3px;
  color: $fontColor;
  text-transform: uppercase;
  font-weight: 800;
}
