* {
  box-sizing: border-box;
}

body {
  background-color: $backgroundColor;
  color: #fff;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 58px;
  line-height: 100%;
  color: $fontColor;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: 100%;
  color: $fontColor;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 34px;
  line-height: 100%;
  color: $fontColor;
}

p {
  font-size: 16px;
  line-height: 160%;
  color: $pColor;
  margin: 0;
  padding: 0;
}
