.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  background: url('../../../public/ליבריה.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  position: relative;

  .overlay {
    background-color: #000;
    overflow: hidden;
    height: 100%;
    width: 100%;
    opacity: .5;
    position: absolute;
  }

  .frame {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

    .frameBackground {
      background: transparent;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 70px;
      gap: 20px;

      @media (max-width: 768px) {
        padding: 10px 15px;
      }

      h3 {
        text-align: center;
        padding: 0 12px;
        font-size: 50px;

        &:hover {
          transform: scale(1.1);
        }
      }

      h2 {
        font-size: 23px;
        text-align: center;
      }
    }
  }
}
