.contact {
  .frame {
    width: 640px;
    height: 310px;

    display: flex;
    justify-content: center;
    align-items: center;

    .frameBackground {
      background-color: $backgroundColor;
      width: calc(100% - 60px);
      height: calc(100% - 60px);
    }
  }
}
