.generalError {
  background-color: #F9E4E8;
  box-shadow: inset 2px 0 0 0 #E04562;
  -moz-box-shadow: inset 2px 0 0 0 #E04562;
  -webkit-box-shadow: inset 2px 0 0 0 #E04562;
  margin: 0 0 20px;
  padding: 15px 20px 15px 22px;
  border-radius: 2px;
  text-align: left;

  p {
    font-size: 15px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 10px;
    line-height: 1.3em;
  }
}
