.footer {
  $breakpoint: 1100px;

  padding-bottom: 104px;

  .logo {
    padding-top: 24px;
    padding-bottom: 40px;
    position: relative;
    direction: ltr;

    &::before {
      content: "";
      width: calc(50% - 48px);
      height: 1px;
      background-color: rgba(255, 255, 255, 0.23);
      position: absolute;
      top: 40%;
    }

    &::after {
      right: 0;
      content: "";
      width: calc(50% - 48px);
      height: 1px;
      background-color: rgba(255, 255, 255, 0.23);
      position: absolute;
      top: 40%;
    }

    .innerWrapper {
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
    }
  }

  .content {
    padding: 0 72px;
    display: flex;
    justify-content: space-between;
    height: 300px;

    @media (max-width: $breakpoint) {
      flex-direction: column;
      align-items: center;
      padding: 0 16px;
    }

    .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      max-width: 264px;

      @media (max-width: $breakpoint) {
        display: none;
      }

      ul {
        list-style: none;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 30px;

        li {
          margin-bottom: 25px;

          a {
            font-weight: 600;
            font-size: 14px;
            line-height: 100%;
            color: #fff;
            overflow: hidden;
            position: relative;
            height: 14px;
          }
        }

      }

      .address {
        div {
          margin-bottom: 16px;
          font-weight: 800;
          font-size: 9px;
          line-height: 100%;
          letter-spacing: 3px;
          color: #fff;
          text-transform: uppercase;
        }

        a {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }

    .offers {
      direction: ltr;
      max-width: 400px;
      padding: 40px 64px;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);

      @media (max-width: $breakpoint) {
        position: relative;
        left: unset;
        transform: unset;
      }

      @media (max-width: 575px) {
        padding: 32px 16px;
      }

      svg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
      }

      .benefit {
        margin-bottom: 16px;
        font-weight: 800;
        font-size: 9px;
        line-height: 100%;
        letter-spacing: 3px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
      }

      h4 {
        margin-bottom: 32px;
        text-align: center;
      }

      .mySwiper {
        width: 100%;

        .mySlide {
          width: 100%;
          text-align: center;
          margin-bottom: 40px;

          div {
            padding: 4px;
            font-size: 16px;
            line-height: 100%;
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
    }

    .statements {
      direction: ltr;
      max-width: 264px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 32px;

      @media (max-width: $breakpoint) {
        display: none;
      }

      .policies {
        display: flex;

        a {
          color: rgba(255, 255, 255, 0.7);
          line-height: 1.2em;
          font-size: 14px;

          &:last-child {
            margin-left: 16px;
            padding-left: 16px;
            border-left: 1px solid #fff;
            line-height: 1.2em;
            font-size: 14px;
          }
        }
      }

      .rights {
        font-size: 16px;
        line-height: 100%;
        color: rgba(255, 255, 255, 0.25);
        margin-bottom: 8px;
        transition: all 0.4s ease;
      }
    }

    .mobileBlock {
      @media (max-width: $breakpoint) {
        display: flex;
      }

      display: none;
      flex-direction: column;
      gap: 32px;
      margin-top: 48px;

      .address {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
          margin-bottom: 16px;
          font-weight: 800;
          font-size: 9px;
          line-height: 100%;
          letter-spacing: 3px;
          color: #fff;
          text-transform: uppercase;
        }

        a {
          color: rgba(255, 255, 255, 0.7);
        }
      }

      .policies {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        a {
          color: rgba(255, 255, 255, 0.7);
        }
      }

      .rights {
        font-size: 16px;
        line-height: 100%;
        color: rgba(255, 255, 255, 0.25);
        margin-bottom: 8px;

        padding: 16px 24px;
      }
    }
  }
}
